

.contentArea {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    border-radius: 24px 24px 0 0;
    background: white;
    color: gray;
    padding: 1em;
    top: 55px;
    margin-left: 30%;
}

.contentArea h1 {
    text-align: center;
    color: black;
}

.productsList {
    position: relative;
    display: flex;
    flex-direction: column;
}

.productArea {
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productHeader {
    margin-bottom: 20px;
}

.productImage {
    flex-shrink: 0;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    margin-bottom: 10px;
    min-width: 0;
    width: 100%;
    max-height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 2px 0px black;
}

.productHeader, .extrainf {
    display: inline-flex;
    align-items: baseline;
    justify-content: flex-end;
    width: 100%;
}

.producTitle {
    margin: 0 0 10px;
    font-size: 1.75em;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    flex-grow: 1;
    line-height: 1;
    color: black;
    font-stretch: expanded;
}

.productWeight {
    color: #989898;
    font-size: 18px;
    flex-shrink: 0;
    white-space: nowrap;
    margin-left: 16px;
    text-align: end;
    font-style: oblique;
}

.productDescription {
    position: relative;
    margin-bottom: 6px;
    color: #676767;
    font-size: 20px;
    align-self: start;
    width: 100%;
}

.productEnergy {
    margin: 0 0 6px;
    font-size: 18px;
    font-weight: 500;
    display: -webkit-box;
    color: #676767;
    overflow: hidden;
    flex-grow: 1;
    font-style: oblique;
}

.productFooter {
    font-weight: 100;
    font-size: 1.5em;
    align-items: baseline;
    line-height: 1;
    color: black;
    font-stretch: expanded;
    font-family: fangsong;
    flex-shrink: 0;
}

.productFooterLong {
    text-align: end;
}

#snid{
    display: none;
}
#lanch {
    display: none;
}

#coffee {
    display: none;
}

#tea {
    display: none;
}

#variant2, #variant1 {
    display: none;
}



.table_col {
    font-size: 14px;
    width: 100%;
    background: white;
    text-align: left;
    border-collapse: collapse;
    color: #3E4347;
    text-align: left;
  }
.table_col th:first-child, .table_col td:first-child {
    color: #000000;
    border-left: none;
}
.table_col th {
  font-weight: normal;
  border-bottom: .5px solid #5e5c5a;
  border-right: 0px solid white;
  border-left: 0px solid white;
  padding: 8px 10px;
  width: 20%;
}
.table_col td {
    border-bottom: .5px solid #727272;
    border-right: 0px solid white;
    border-left: 0px solid white;
  padding: 12px 10px;
  color: #000000;
  width: 20%;
}

@media only screen  and (max-width: 427px) {
    .productFooter {
        font-size: 1.2em;
    }
    .producTitle {
        font-size: 1.4em;
    }
    .productImage {
        max-height: 400px;
    }
    .productDescription {
        font-size: 18px;
    }
    .productEnergy, .productWeight {
        font-size: 15px;
    }
    .productFooterLong {
        font-size: 0.9em;
    }
}
