

.wrapper {
    width: 100%;
    height: 100%;
    background:#1e1d1d;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    overflow: hidden;
}

.Loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 11.6rem;
    margin-top: 7.3rem;
    margin-bottom: 7.3rem;
}
.Loader:before, .Loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    filter: drop-shadow(0 0 0.7555555556rem rgba(255, 255, 255, 0.75));
}
.Loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1.2rem #fff;
    animation-name: pulsA;
}
.Loader:after {
    width: calc(100% - 1.2rem*2);
    padding-bottom: calc(100% - 1.2rem*2);
    box-shadow: 0 0 0 0 #fff;
    animation-name: pulsB;
}
@keyframes pulsA {
    0% {
        box-shadow: inset 0 0 0 1.2rem #fff;
        opacity: 1;
   }
    50%, 100% {
        box-shadow: inset 0 0 0 0 #fff;
        opacity: 0;
   }
}
@keyframes pulsB {
    0%, 50% {
        box-shadow: 0 0 0 0 #fff;
        opacity: 0;
   }
    100% {
        box-shadow: 0 0 0 1.2rem #fff;
        opacity: 1;
   }
}

@keyframes fade {
    0% {
        opacity: 1;
   }
   50% {
        opacity: 0.5;
   }
    100% {
        opacity: 0;
   }
}

.loaded_hiding .Loader, .loaded .wrapper  {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .Loader, .loaded .wrapper {
    animation-name: fade;
    animation-duration: 1.8s;
    display: none;

}
