@font-face {
    font-family: RoadRage;
    src: url("../fonts/13891.ttf"); 
}

@font-face {
    font-family: Noah;
    src: url("../fonts/Noah-Regular.ttf"); 
}

@font-face {
    font-family: Noah-bold;
    src: url("../fonts/Noah-Bold.ttf"); 
}

body {
    background: whitesmoke;
}

body, html {
    font-family: Noah, sans-serif;
    line-height: 1.4;
}

.shelter-header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 202px;
    background-size: cover;
    background-position: center 0;
    z-index: 0;
}

.placeName {
    font-family: RoadRage, sans-serif; 
    text-align: center;
    color: black;
}

.placeName h1 {
    font-size: 3em;
    margin: 10px 0;
}

.shelter-header-ph {
    background: url("../media/header/headd.jpg") center center no-repeat;
}

.navigator {
    position: relative;;
    display: flex;
    justify-content: center;
    z-index: 1;
}

.button {
    display: inline-block;
    margin-bottom: 25px;
    width: 82px;
    height: 82px;
    cursor: pointer;
    border-radius: 50%;
    border: solid white;
    box-shadow: 0 3px 20px rgba(0,0,0,.25),
    inset 0 2px 0 rgba(255,255,255,.6),
    0 2px 0 rgba(0,0,0,.1),
    inset 0 0 20px rgba(0,0,0,.1);
}

.button:hover, .btn-back:hover {
    box-shadow: inset 0 0 20px rgba(0,0,0,.2),
    0 2px 0 rgba(255,255,255,.4),
    inset 0 2px 0 rgba(0,0,0,.1);
}

.btn-photo {
    background: url("../media/logo/logo-nav.png") center center no-repeat;
}

.btn-back-photo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.btn-back {
    position: fixed;
    top: 0px;
    left: 30.5%;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 15px;
    cursor: pointer;
    border-radius: 50%;
    border: solid rgb(255, 255, 255);
    background-color: white;
    border: 1px solid black;
    z-index: 10;
}

.shelter-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 800px;
    border-radius: 24px 24px 0 0;
    background: white;
    color: gray;
    padding: 1em;
    top: 55px;
    margin-left: 30%;
    margin-right: 30%;
}

.shelter-content h1 {
      color: black;
}

.shelter-info {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 8px;
    flex-wrap: wrap;
    font-size: 14px;
    color: #989898;
    margin-top: 4px;
}


.shelter-info_block {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 8px;
}

.shelter-info a{
    text-decoration: none;
    color: #989898;
    padding: 7px;
}

.shelter-info a:hover {
    color: #5f5e5e;
}

.navigationBar {
    position: sticky;
    width: 100%;
    display: flex;
    flex-direction: row;
    top:3px;
    z-index: 100;
    background: white;
    box-shadow: 1px -1px 0px 4px rgb(255 255 255);
    overflow: auto;
}

.navigationBar button {
    font-family: Noah-bold;
    background-color: white;
    border: none;
    height: 42px;
    width: 90px;
    font-size: 18px;
    color: black;
}

.buttonActive {
    background-color: rgb(0, 0, 0) !important;
    border-radius: 32px;
    color: white !important;
}

.menu_nav{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.one {
    color: #fff;
    background-image: -webkit-linear-gradient(45deg, rgb(0, 0, 0) 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(0, 0, 0) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 400ms ease-in-out;
    transition: background 400ms ease-in-out;
    color: white;
}

.bttn {
    width: 40%;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 32px;
    color: black;
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-around;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    padding: 1em 1em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
}

.bttn:hover, .bttn:focus {
    outline: 0;
}

.catagory_list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 100%;
    color: var(--color-white);
    border-radius: 26px;
    text-shadow: 0 2px 3px rgb(0 0 0 / 46%);
    box-shadow: var(--shadow-1);
    background-size: cover;
    background-position: 50%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.category_item {
    display: flex;
    height: 150px;
    width: 100%;
    border-radius: 24px 24px 24px 24px;
    border: solid 1px black;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.category_item:hover {
    opacity: 1;
    filter: contrast(30%);
}

.item1 {
    order: 1;
    background: url("../media/catalog/bf.jpg") center center no-repeat;
}

.item2 {
    order: 2;
    background: url("../media/catalog/lanch.jpg") center center no-repeat;
}
.item3 {
    order: 3;
    background: url("../media/catalog/coffee.jpg") center center no-repeat;
}
.item4 {
    order: 4;
    background: url("../media/catalog/tee.JPG") center center no-repeat;
}
.item5 {
    order: 5;
    background: url("../media/catalog/coctels.jpg") center center no-repeat;
}
.category_item h1 {
    color: white;
    letter-spacing: 0.1em;
}

#back {
    display: none;
}

#bavarages1, #bavarages2, #bavarages3 {
    display: none;
}

#navv {
    display: none;
}


hr {
    border: none;
    height: 2px;
    margin: 30px 0;
    background-image: linear-gradient(to right, #FFF, #0000001f, #FFF);
}




#notAvailable {
    flex-shrink: 0;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    margin-bottom: 10px;
    width: 100%;
    height: 355px;
    border-radius: 26px;
    box-shadow: 1px -1px 7px 2px black;
    background: url("../media/lh/burgerNotavaivble.jpg") center center no-repeat;
    justify-content: center;
    align-items: center;

}
#notAvailable h1 {
    color: white;
    letter-spacing: 0.1em;
    font-size: 1.5em;
}

.icon  {
    width: 25px;
    height: 25px;
}

.boylsSize {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.productDescription {
    font-family: Noah, sans-serif;
}

.productDescription p {
    font-weight: 600;
}

.extrainf p {
    font-weight: normal;

}

.productEnergy, .productWeight {
    font-style: normal;
}



@media only screen  and (max-width: 1024px) {
    .shelter-content {
        width: 50%;
        margin-left: 25%;
        margin-right: 25%;
        top: 30px;
    }
    .button {
        width: 62px;
        height: 62px;
    }
    .shelter-header {
        height: 140px;
    }
    .btn-photo {
        background: url("../media/logo/logo-nav85x85.png") center center no-repeat;
    }
    .navigator {
        top: 0;
    }
}
@media only screen  and (max-width: 768px) {
    .shelter-content {
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        top: 25px;
    }
    .shelter-header {
        height: 160px;
    }
    .button {
        width: 42px;
        height: 42px;
    }
    .btn-photo {
        background: url("../media/logo/logo-nav65x65.png") center center no-repeat;
    }
}

@media only screen  and (max-width: 427px) {

    body{
        background: white;
    }
    .shelter-header {
        width: 100%;
        background-size: cover;
        background-position: 50%;
    }
    .shelter-content {
        width: 95%;
        margin: 0px;
        top: 0px;
        border-radius: 0;
        padding: 0;
        margin-left: 2.5%;
    }
    .button {
        width: 40px;
        height: 40px;
    }
    .btn-back {
        left: 20px;
        margin: 0;
        top:92%;
        
    }
    .navigator {
        top: 20px;
        margin-bottom: 90px;
    }
    .shelter-info {
        justify-content: flex-start;
        font-size: 14px;
        flex-direction: column;
    }
    .menu_nav {
        justify-content: space-between;
    }
    .bttn {
        width: 45%;
    }
    .icon {
        width: 15px;
        height: 15px;
    }
    .shelter-header-ph {
        background: url("../media/header/mobileHead.jpg") center center no-repeat;
    }
    
}

@media only screen and (max-width: 375px) {
    .placeName h1 {
        font-size: 2.5em;
    }
}

@media only screen and (max-width: 325px) {
    .placeName h1 {
        font-size: 2em;
    }
}


